body {background-color: rgb(207,207,207);}

/*****************content***************************/	
	.div-content {margin-bottom:1px;}	


.initTemplate { margin-top: 52px; }
.btn-primary {  background-color: rgb(0,163,219);border-color: rgb(0,163,219); }
.btn-primary:focus,
.btn-primary:hover {  background-color: rgb(1,164,220); }

.container { padding-left: 0px;padding-right: 0px; }
.outpadding { padding-left: 0px;padding-right: 0px; }
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse { margin-right: 0px; margin-left: 0px; }
.icon-bar { width: 98%;}

.background-conteiner-content{ background-color: rgb(240,240,240); }
.background-conteiner-social{ background-color: #F8F8F8;	background-image: url(../../img/Social/IDB_Pattern200_BG3_Gray.png); }




.row-outmargin { margin-left: 0px; margin-right: 0px; }

a {font-family:"Helvetica", Arial, sans-serif; font-size:13px; font-stretch:condensed; letter-spacing:0pt; line-height:119%; color:rgb(33,135,193); text-align:left;}
/*p, span, li {font-family:"Helvetica", Arial, sans-serif; font-size:13px; font-stretch:condensed; letter-spacing:0pt; line-height:119%; text-align:left;}*/


.navbar-collapse { text-align: right; }

.menu-item{	max-width: 1200px;	width: 1200px; }
.navbarcolor {
	background: rgb(247,247,247);
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 );
}



.nav .navbar-nav li { text-transform: uppercase; font-family: HelveticaNeueLTPro-LtCn;}


.divsubmenu {font-family:"Helvetica", Arial, sans-serif; font-size:13px; font-stretch:condensed; letter-spacing:0pt; line-height:119%; color:rgb(33,135,193); text-align:left;}	
.divsubmenu li {border-bottom:1px #CCC solid; /*margin:5px;*/}	



.dropdown-menu li ul {width:176px; padding-left: 10px;}
.dropdown-menu {background-color:#FFF;}
.dropdown-menu li {width:176px;}

.color-blue {color:#2187c1 !important;}
.btnsearch { width: 37px; height: 37px; float: right;}
.mifiic {font-weight:bold;float: left;padding-top: 18px;font-weight: bold;padding-right: 13px;}


/***************Logo menu********************************/
.navbar-brand {padding: 7px 9px 0px 16px; /*padding: 8px 30px 0px 30px;*/ background-color:#ffffff;}
.navbar-header a:hover {padding: 7px 9px 0px 16px;/*padding: 8px 30px 0px 30px;*/ background-color:#ffffff;}



/***************Content********************************/
.main-content{margin-top: 40px; margin-bottom: 20px;}
/*.div-content div.intro {margin:40px 0px 30px 0px; padding: 17px; border:1px #EFEFEF solid;  padding-top:15px; background-color:rgba(255,255,255,0.65); height:147px;}*/
/*.page17729 .div-content.linksList div.intro {margin: 40px 0px 30px 0px;padding-left: 17px;padding-right: 17px;border: 1px #EFEFEF solid;background-color: rgba(255,255,255,0.65);height: 147px;}*/
.page17729 .div-content.linksList div.intro {margin: 4px 20px 0px 20px; padding-left: 17px; padding-right: 17px;border: 1px #EFEFEF solid;background-color: rgba(255,255,255,0.65);height: 147px;}
.page17729 .div-content.linksList div.intro div.boxHeader { padding: 18px 0px; border-bottom: 1px solid rgb(236, 236, 236); margin-bottom: 15px; background-color: transparent !important;  }
.page17729 .div-content.linksList div.intro a {font-family:"HelveticaNeueLTPro-Md", Arial, sans-serif; font-size:12px; /*font-weight:bold; font-stretch:condensed;*/ letter-spacing:0pt; line-height:131%; color:rgb(30,193,255); text-align:left;}
.page17729 .div-content.linksList div.intro span {font-family:"HelveticaNeueLTPro-MdCn"; font-size:18px; line-height:131%; color:rgb(47,47,49); text-align:left;}
.page17729 .div-content.linksList div.intro li {list-style:none; padding-bottom:5px;}
.page17729 .div-content.linksList div.intro ul {padding:0px;}
.page17729 .div-content.linksList div.intro hr {margin:8px 8px 14px 8px;}
/*.div-content div.intro h2 { line-height: 140%; font-size: 21px; font-family: "HelveticaNeueLTPro-MdCn"; line-height: 131%; color: rgb(47,47,49); text-align: left; }*/



/***************Footer********************************/
/*.footer-content {width:173px;}*/
.footer-ppal .col-sm-2 { width: 15.111112%; padding-left: 7px; padding-right: 0px; padding-bottom: 0px}
.footer-ppal .ppal2 .col-sm-2 { width: 20%; }
.footer-ppal .col-sm-10 { width: 93.9999%;}
.footer-second-item {width: 78%;}


.div-footer {margin:40px 0px 0px 0px;}
.ppal {margin:40px 0px 0px 0px;}
.ppal {background:url(../../img/footer/IDB_Pattern200_BG3_Gray.png) repeat; background-color: #FFFFFF; margin-top: 0px; padding-top: 40px; min-height: 100%; height: 364px; padding-top: 40px; }

.footer-content ul {list-style:none; margin-top:18px;}
.ulFooter {padding:0px; margin:0px;}
.ulFooter li {margin-bottom:5px;}
.footer-content a {color:rgb(49,49,50); font-family:"HelveticaNeueLTPro-Roman"; font-size:14px; letter-spacing:0pt; line-height:18px; text-align:left; padding-bottom:6px;/*font-weight:bold;*/}
.footer-content span {color:rgb(49,49,50); font-weight:bold; font-family:"HelveticaNeueLTPro-BdCn"; font-size:19px; letter-spacing:0pt; line-height:18px; text-align:left;}
.footer-gray {background:url(../../img/footer/IDB_Pattern200_BG3_Gray.png) repeat; background-color: #F7F7F7; margin: 40px 0px 0px 0px; padding:0px; height: 364px;}

.right-line {float:right;} 
.left-line {float: left; }
.right-line,
.left-line {width: 29px; background:url(../../img/footer/IDB_Pattern200_BG3_Blue.png) ; background-repeat: repeat; background-color: #ECECEC;min-height: 100%; }
.footer-social,.footer-social-mb {position: relative; float: left;  height: 44px; margin-top: 10px;}
.footer-social a,.footer-social-mb a{display:block;width:38px; height:38px; padding-left: }
.blogs {background:url(../../img/footer/footer-items.png) no-repeat; background-position:-37px -1px; float:left; margin-right:9px;}
.youtube {background:url(../../img/footer/footer-items.png) no-repeat; background-position:-119px -2px; float:left; margin-right:9px;}
.fb {background:url(../../img/footer/footer-items.png) no-repeat; background-position:1px -48px; float:left; margin-right:9px;}
.tw {background:url(../../img/footer/footer-items.png) no-repeat; background-position:-83px -47px; float:left; margin-right:9px;}
a.blogs:hover {background-position:-78px 0px;}
a.youtube:hover {background-position:-162px -3px;}
a.fb:hover {background-position:-41px -47px;}
a.tw:hover {background-position:-128px -45px;}
.links-footer {margin: 0px; padding: 0px 0px 0px 136px; position: relative;float: left; }
.links-footer a, .links-footer li {color:rgb(49,49,50); font-family:"HelveticaNeueLTPro-Roman"; font-size:13px; letter-spacing:0pt; line-height:423%; text-align:left; /*font-weight:bold;*/}

.footer-mb .BdCn a {font-family:"HelveticaNeueLTPro-BdCn";}
.margi40 { margin-top: 40px}
/*.footer-ppal {margin:0px;  background-color: #EFEFEF}*/
.footer-mb {margin-top: 30px;  display:none;}


.panel-group .panel+.panel { margin-top: 2px; }


@media(min-width:767px){
	.outpadding { padding-left: 10px; padding-right: 10px; }
	.outpadding.content-center { padding-left: 10px; padding-right: 0px; }
}
@media(min-width:992px){
	.footer-social, .footer-social-mb {  }
	.links-footer {padding: 0px 0px 0px 0px; }
	.navbar-nav.navbar-right:last-child { margin-right: -11px; }

	/***************Content***.outpadding { padding-left: 10px;padding-right: 10px; }*****************************/
	.main-content{margin-top: 0px;}
	.div-content {}
	.div-content a { font-size:13px; }
	.div-content span { font-size:21px; }
	.div-content li {}
	.div-content ul {}
	.div-content hr {}

	/***************Content********************************/
	.page17729 .div-content.linksList div.intro {margin: 40px 0px 30px 0px}

}
@media(min-width:1200px){
	.footer-ppal .col-sm-2 { padding-left: 20px;}
	.footer-social, .footer-social-mb {  }
	.links-footer {padding: 0px 0px 0px 0px; }
	.footer-social,.footer-social-mb {margin-top: 40px;}
	.footer-second-item {width: 80%;}
	.btnsearch { width: 79px; height: 51px; }
	.divsubmenu li:first-child {border-top:1px #CCC solid; /*margin:5px;*/}

	/*.div-content {margin:8px; width:100%;display: block;}	*/
}
@media(max-width:767px){
	
	/*****************Footer***************************/
	.footer-mb a, .btn-collap .panel-body a{color:rgb(49,49,50); font-family:"HelveticaNeueLTPro-Roman"; font-size:14px; letter-spacing:0pt; line-height:18px; text-align:left; padding-bottom:6px;}
	.footer-mb span,.panel a{color:rgb(49,49,50); font-family:"HelveticaNeueLTPro-MdCn"; font-size:16px; letter-spacing:0pt; line-height:18px; text-align:left;}	
	.footer-ppal {display:none;}
	.footer-mb {display:block;background:url(../../img/footer/IDB_Pattern200_BG3_Gray.png) repeat; background-color: #F7F7F7; bottom: 24px;position: relative;}
	.div-first-footer {margin:30px 0px 0px 45px;}
	.div-first-footer ul{list-style:none;}	
	.btn-collap {padding:0px;}
	.btn-collap .panel-body a{display:block;}
	.btn-mas {margin:0px; padding:0px; display:block; background:url(../../img/footer/footer-items.png) no-repeat; background-position:-4px -20px; width:27px; height:27px;}
	.text-left {float:left;position: relative;top: 4px;margin-left:28px;}
	.btn-mas {float:right;position: relative;bottom: 1px;}	
	.heading-title{height:43px;background-color:#DDDDDD;}
	.panel-default > .panel-heading {background:#DDDDDD !important;}
	.panel-default {background:none repeat scroll 0% 0% transparent; border:none;}
	.collapsed span {background-position:-170px -50px;}
	.content-div-footermb {margin-left:28px;background:#FFF;}
	.line-blue-mb {}
	.div-second-footer ul{margin-left:40px;}
	.footer-social-mb {margin:35px 0px 10px 45px;}
	.div-second-footer ul li a{font-size:12px;}
	.footer-up {display:block; background-color:#AAAAAA; height:40px;margin-top:20px;}
	.footer-up a {display:block; width:30px; height:30px; background:url(../../img/footer/footer-items.png) no-repeat; background-position:-203px 1px;position: relative;top: 3px; float:right;}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width:992px) { 
	
	
	
	/*****************Footer***************************/
	.footer-mb a, .btn-collap .panel-body a{color:rgb(49,49,50); font-family:"HelveticaNeueLTPro-Roman"; font-size:14px; letter-spacing:0pt; line-height:18px; text-align:left; padding-bottom:6px;}
	.footer-mb span,.panel a{color:rgb(49,49,50);  font-family:"HelveticaNeueLTPro-MdCn"; font-size:19px; letter-spacing:0pt; line-height:18px; text-align:left;}	
	.footer-ppal {display:none;}
	.footer-mb {display:block;background:url(../../img/footer/IDB_Pattern200_BG3_Gray.png) repeat; background-color: #F7F7F7; bottom: 24px;position: relative;}
	.div-first-footer {margin:30px 0px 0px 45px;}
	.div-first-footer ul{list-style:none; margin-top: 10px;}	
	.btn-collap {padding:0px;}
	.btn-collap .panel-body a{display:block;}
	.btn-mas {margin:0px; padding:0px; display:block; background:url(../../img/footer/footer-items.png) no-repeat; background-position:-4px -20px; width:27px; height:27px;}
	.text-left {float:left;position: relative;top: 4px;margin-left:28px;}
	.btn-mas {float:right;position: relative;bottom: 1px;}	
	.heading-title{height:43px;background-color:#DDDDDD;}
	.panel-default > .panel-heading {background:#DDDDDD !important;}
	.panel-default {background:none repeat scroll 0% 0% transparent; border:none;}
	.collapsed span {background-position:-170px -50px;}
	.content-div-footermb {margin-left:28px;background: rgb(240,240,240);}
	.line-blue-mb {}
	.div-second-footer ul{margin-left:24px;}
	.footer-social-mb {margin:35px 0px 10px 24px;}
	.div-second-footer ul li a{font-size:13px;}
	.footer-up {display:block; background-color:#AAAAAA; height:40px;margin-top:20px;}
	.footer-up a {display:block; width:30px; height:30px; background:url(../../img/footer/footer-items.png) no-repeat; background-position:-203px 1px;position: relative;top: 3px; float:right;}


	.left-line {position: absolute;}
	
}