/*p, span, li { font-family: "Helvetica", Arial, sans-serif;	font-size: 13px;	font-stretch: condensed;	letter-spacing: 0pt;	line-height: 119%; }*/


ul.nav.navbar-nav li a {  background-color: transparent; }
.nav-languaje-sec li a,
.nav-languaje ul.nav.navbar-nav li a { color: rgb(175,175,175); font-size: 13px; text-transform: uppercase;}
.nav-languaje-sec li a:hover,
.nav-languaje-sec li a:active,
.nav-languaje-sec li a:focus,
.nav-languaje ul.nav.navbar-nav li a:hover,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
		background-color: transparent;
		color: rgb(33,135,193);
}

.divsubmenu ul { margin-bottom: 0px ;}

hr.hr-mb {margin: 0px; border-top: 4px solid rgb(211,211,211); width: 100%;}


 .hidden-lg #nav-main {width: 100%;}

.mific-center a.mific,
.nav-languaje ul.nav.navbar-nav li a.mific { 	font-weight: bold; 	font-family: "HelveticaNeueLTPro-BdCn"; 	font-size: 19px; 	line-height: 119%; 	color: black; 	padding: 15px 7px 0px 7px; text-decoration: none; }
.mific-center a.mific:focus,
.mific-center a.mific:hover,
.nav-languaje ul.nav.navbar-nav li a.mific:hover { 	color: rgba(29, 173, 227, 1); s}
.mific-center {	text-align: center; height: 34px; vertical-align: middle;padding: 8px;}
.menu-left{ background-color: #fff}
.divsubmenu .outpadding ul{padding-right: 0px; padding-left: 0px;}
.divsubmenu li {text-align: right; list-style-type: none; }
.divsubmenu .option-ppal  li { padding: 12px 5px 12px 5px;}
.divsubmenu .option-sec  li { padding: 4px 5px 4px 5px;}
.divsubmenu .option-sec  li a{ display: block; text-align: right;}
.divsubmenu .option-ppal li:first-child {margin-top: 25px;}	

#nav-submain-1 .nav.navbar-nav a {	font-family:Helvetica, Arial, sans-serif;font-size:14px;letter-spacing:1pt;line-height:100%;color:rgb(33,135,193);text-align:left; display: block;}
.nav.navbar-nav.navbar-right.blockcontainer.mifiic li span{	text-decoration: none;	font-weight: bold;	float: left;	padding-top: 18px;	font-weight: bold;	padding-right: 13px;}
.navbar-default .title {color: #313132;	font-family: HelveticaNeueLTPro-Blk; font-size: 13px; padding: 0px 0px 0px 0px;}

.btn {border-radius: 0px;}
.navbar-collapse {text-align: right;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 0px;	 background-color: #EFEFEF; width: 258px;}

.divsubmenu li {	border-bottom: 1px #CCC solid; padding: 5px 2px 5px 2px;}

ul.list-unstyled.col-md-4.column li,
ul.list-unstyled.col-md-4.column li a {	background-color: transparent;}

			
ul.list-unstyled.col-md-4.column li:hover ~ ul.list-unstyled.col-md-4.column li a,
ul.sub-nav-languaje-sec li:focus,
ul.sub-nav-languaje-sec li:hover,
ul.sub-nav-languaje-sec li a:hover,
ul.sub-nav-languaje-sec li a:focus,

.sub-nav-languaje ul li:focus,
.sub-nav-languaje ul li:hover,
.sub-nav-languaje ul li a:hover,
.sub-nav-languaje ul li a:focus,
ul.list-unstyled.col-md-4.column>li:focus,
ul.list-unstyled.col-md-4.column>li:hover,
ul.list-unstyled.col-md-4.column>li>a:focus,
ul.list-unstyled.col-md-4.column>li>a:hover {	background-color: rgba(29, 173, 227, 1);	color: white !important;}

.dropdown-menu { border-radius: 0px; }

.option-submenu.open{ display: block;}
.option-submenu{ display: none;}
.option-submenu.open div.arrow { width: 0;height: 0;border-top: 15px solid transparent;border-bottom: 15px solid transparent;border-left: 25px solid #FFF;font-size: 0;line-height: 0;float: right;margin-right: -24px;	}
#IDSECTORS.option-submenu.open div.arrow { margin-top: 148px;}
#IDCOUNTRIES.option-submenu.open div.arrow { margin-top: 109px;}
.dropdown-backdrop {z-index: -1;}
.sub-mb-h{height: 450px;}


/****************************************************************************/
/*************************Boton Menu Size XS ********************************/
/****************************************************************************/
.navbar-toggle{ height: 52px; width: 61px; border-radius: 1px; margin: 0px;}
.navbar-toggle .icon-bar { display: block; width: 100%; height: 2px; border-radius: 1px;}

/*Ocultar el boton de menu en pantalla pequeñas */
.nav-global{ display: none; }
.nav-global.slide-active{
		display: -webkit-box;
		display: -moz-box;
		display: box;
		display: block; 
		-webkit-box-orient: vertical;-moz-box-orient: vertical;box-orient: vertical;}

@media(min-width:767px){
	.navbar-default .title {font-size: 16px; padding: 0px 10px 0px 10px;}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {/*width: 335px;*/ /*width: 300px;*/ width: 307px;}
}
@media(max-width:767px){



	/*.btnsearch {padding: 12px;background-color: #2187c1 !important;	}*/
	.navbar-default .navbar-toggle .icon-bar {background-color: #2187c1;	}
	
	.navbar-nav .open .dropdown-menu .divsubmenu {position: fixed;left: 0;top: 80px;bottom: 0;overflow-x: scroll;right: 52%;float: none;width: auto;margin-top: 0;background-color: white;border: 46px #ccc;border-color: #ccc;box-shadow: 1px 1px 1px #ccc;border-radius: 4px;	}
	.navbar-nav>li>a {color: #777;text-align: right;	}
	div.nav-internal li {padding: 5px 3px;text-align: right;	}

	/*Invertir el orden de los controles Inicio*/
	/*.nav-global {	    display: -webkit-box;	    display: -moz-box;	    display: box;	 -webkit-box-orient: vertical;	    -moz-box-orient: vertical;	    box-orient: vertical;	}*/
	.nav-option{    -webkit-box-ordinal-group: 2;	    -moz-box-ordinal-group: 2;	    box-ordinal-group: 2;	}
	.nav-controles {	    -webkit-box-ordinal-group: 1;	    -moz-box-ordinal-group: 1;	    box-ordinal-group: 1;	}
	/*Invertir el orden de los controles Fin*/
	
	
	.nav-internal ul {padding: 5px 0px 0px 10px;	}

	.nav-mific{width: 50%;float: left;text-align: center;height: 37px;vertical-align: middle;	}
	.nav-languaje{width: 50%;float: right;display: flex;height: 37px;vertical-align: middle;padding: 0px;margin: 0px;	}
	.nav-bloque-languaje	{display: flex;width: 100%;padding: 0px;margin: 0px;	}
}



@media(min-width:991px){
	.navbar-nav>li { margin: 0px 5px; }
	.nav>li>a { padding: 20px 14px 0px 14px; }
}



@media(min-width:1200px){ 
	.navbar-nav .open .dropdown-menu .divsubmenu{ background-color: white;top: 51px;	}
	.dropdown-menu li ul {width: 176px;padding: 10px 10px;	margin-left: 16px; margin-right: 16px;}
	.navbar-nav .open a.dropdown-toggle{font-weight: bold;	color: #F97C00 !important; }
	/*.navbar-nav .open div.arrow {	    width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 15px solid white;font-size: 0;line-height: 0;position: relative;bottom: 0px;left: 33%;float: left;	}*/
	.navbar-nav .open div.arrow {	    width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 15px solid white;position: relative;left: 33%;	}
	.dropdown-menu {padding: 0px 0;	border: 0px;}
	.nav-global{text-align: right;padding: 0px 21px;margin: 0px;display: block !important;height: auto !important;padding-bottom: 0px;overflow: visible !important;	}
	.nav-bloque-languaje	{display: flex;	}
	.nav-right-item > div 	{padding: 0px;	}



	


	#PROJECT .divsubmenu .nav-internal { margin-left: 163px; }
	#COUNTRIES .divsubmenu .nav-internal { margin-left: 163px; }
	#SECTORS .divsubmenu .nav-internal { margin-left: 163px; }
	#RESEARCH .divsubmenu .nav-internal { margin-left: 393px; }
	#PUBLICATIONS .divsubmenu .nav-internal { margin-left: 493px; }
}


/****************************************/
/****************************************/
/*Mostrar el menu en tables landing page*/
/****************************************/
/****************************************/
@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
