@charset "UTF-8";

@font-face {
  font-family: "idb-countries";
  src:url("assets/fonts/idb-countries/fonts/idb-countries.eot");
  src:url("assets/fonts/idb-countries/fonts/idb-countries.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/idb-countries/fonts/idb-countries.woff") format("woff"),
    url("assets/fonts/idb-countries/fonts/idb-countries.ttf") format("truetype"),
    url("assets/fonts/idb-countries/fonts/idb-countries.svg#idb-countries") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-countries]:before {
  font-family: "idb-countries" !important;
  content: attr(data-countries);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="countries-"]:before,
[class*=" countries-"]:before {
  font-family: "idb-countries" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.countries-argentina:before {
  content: "a";
}
.countries-bahamas:before {
  content: "b";
}
.countries-barbados:before {
  content: "c";
}
.countries-belize:before {
  content: "d";
}
.countries-bolivia:before {
  content: "e";
}
.countries-brazil:before {
  content: "f";
}
.countries-chile:before {
  content: "g";
}
.countries-columbia:before {
  content: "h";
}
.countries-dominican-republic:before {
  content: "j";
}
.countries-ecuador:before {
  content: "k";
}
.countries-el-salvador:before {
  content: "l";
}
.countries-guatemala:before {
  content: "m";
}
.countries-guyana:before {
  content: "n";
}
.countries-haiti:before {
  content: "o";
}
.countries-honduras:before {
  content: "p";
}
.countries-jamaica:before {
  content: "q";
}
.countries-mexico:before {
  content: "r";
}
.countries-nicaragua:before {
  content: "s";
}
.countries-panama:before {
  content: "t";
}
.countries-paraguay:before {
  content: "u";
}
.countries-peru:before {
  content: "v";
}
.countries-suriname:before {
  content: "w";
}
.countries-trinidad-and-tobago:before {
  content: "x";
}
.countries-uruguay:before {
  content: "y";
}
.countries-venezuela:before {
  content: "z";
}
.countries-z-circles:before {
  content: "0";
}
.countries-costa-rica:before {
  content: "i";
}
